<!DOCTYPE html>
<html>
<head>
  <title>ContactsManagerBackbone</title>
  <style>
    table thead td { font-weight: bold; }
    #addContact { margin-bottom: 2em; }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>
<%= javascript_include_tag 'application' %>

<script>
  new App.Router;
  Backbone.history.start();

  App.contacts = new App.Collections.Contacts;
  App.contacts.fetch().then(function(){
    new App.Views.App({ collection: App.contacts });
  });
</script>
</body>
</html>
